@keyframes goArround {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes headerAnim {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
    filter: blur(3);
  }
  50% {
    opacity: 0.5;
    filter: blur(3);
    transform: rotateX(0deg);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
    transform: translateY(700px);
  }
  100% {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 135px;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 253, 253);
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: px 1px 2px #939194;
}

h5 {
  font-weight: bold;
}

nav {
  transition: bacground-color 0.4s;
  z-index: 5;
}
nav .fa-bars {
  padding: 10px;
  color: white;
}
nav .logo {
  width: 150px;
}
nav .navbar-nav .nav-link.active,
nav .nav-link:focus {
  color: #e088ff;
}
nav .navbar-nav .nav-link {
  position: relative;
  color: white;
  text-transform: uppercase;
  transition: color 0.3s;
  text-shadow: 0px 4px 9px #040404;
}
nav .navbar-nav .nav-link:hover {
  color: #e088ff;
}
nav .navbar-brand {
  padding: 20px;
}

.nav-shadow {
  background-color: rgba(0, 0, 0, 0.8);
}

header {
  position: relative;
  height: 100vh;
  background-image: url("../img/heroDev-sm.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
header .span-green {
  color: #4ddd4a;
}
header .span-purple {
  color: #e088ff;
}
header h1 {
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  text-shadow: 0px 4px 9px #040404;
  animation: headerAnim 2s 0s both;
}
header h2 {
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 0px;
  animation: headerAnim 2s 0.5s both;
}
header p {
  color: #b8b8b8;
  font-size: 14px;
  animation: headerAnim 2s 1s both;
}
header a {
  text-decoration: none;
}
header .btn-outline-light {
  margin-top: 20px;
  animation: blink 3s forwards;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.aboutus .about-desc {
  line-height: 2em;
  color: #4b4a4a;
}
.aboutus .aboutus-overview {
  line-height: 2em;
}
.aboutus i {
  font-size: 60px;
  margin: 26px 0px;
  color: #4b4a4a;
  text-shadow: 0px 2px 2px #040404;
}
.aboutus .about-title {
  color: black;
}
.aboutus .technology {
  position: relative;
  background-image: url("../img/footer-sm-2.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}
.aboutus .technology .aboutus-tech {
  color: #b8b8b8;
}
.aboutus .technology .row {
  text-align: center;
}
.aboutus .technology .row i {
  margin: 10px 0px;
  color: white;
  text-shadow: 0px 4px 9px #040404;
  transition: transform 0.4s;
}
.aboutus .technology .row i:hover {
  transform: scale(1.2);
}
.aboutus .technology .row p {
  color: #b8b8b8;
  margin-bottom: 30px;
}
.aboutus .technology::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.portfolio {
  margin-bottom: 40px;
  z-index: 0;
}
.portfolio__desc {
  position: relative;
  align-self: flex-start;
  width: 100%;
  line-height: 2em;
}
.portfolio__desc::after {
  position: absolute;
  content: "";
  top: -10px;
  left: -10px;
  width: 10%;
  height: 30%;
  background-color: rgba(94, 23, 217, 0.373);
  z-index: -2;
}
.portfolio__card {
  position: relative;
  border-radius: 8px;
  z-index: 0;
  width: 100%;
  height: 400px;
  background-image: url("../img/transport-sm.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.portfolio__card--two {
  background-image: url("../img/restaurant-sm.jpeg");
}
.portfolio__card--three {
  background-image: url("../img/free-sm.jpg");
}

.prices .card {
  height: 550px;
  border-radius: 15px;
  transition: transform 0.4s;
}
.prices .card .card-body {
  position: relative;
  display: flex;
  flex-direction: column;
}
.prices .card .card-body .btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-radius: 0px;
  cursor: auto;
}
.prices .card:hover {
  transform: scale(1.03);
}
.prices .card-active {
  transform: scale(1.02);
  background-image: url("../img/purple-sm.jpeg");
  background-size: cover;
  color: white;
}
.prices .card-active .btn {
  background-color: black;
  color: white;
  padding: 10px 0px;
}

.contact {
  position: relative;
  background-image: url("../img/purple-sm-2.jpeg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  color: #b8b8b8;
}
.contact h5 {
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.contact i {
  padding: 10px;
  font-size: 20px;
  color: white;
}
.contact p {
  padding: 10px;
  letter-spacing: 2px;
}
.contact .section-title {
  color: white;
}
.contact .footer {
  position: absolute;
  bottom: 0;
  font-size: 10px;
}

.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.contact__div {
  height: 60vh;
}

@media (min-width: 992px) {
  header {
    background-image: url("../img/heroDev-big.jpeg");
    overflow: hidden;
  }
  header .circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -20%;
    bottom: 10%;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    border: 5px dotted #e088ff;
    opacity: 0.2;
    animation: goArround 60s 0s infinite linear forwards;
  }
  header .circle .fa-terminal {
    font-size: 470px;
    color: #e088ff;
  }
  nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #e088ff;
    transform: scale(0);
    transition: transform 0.6s;
  }
  nav .navbar-nav .nav-link:hover::after {
    transform: scale(1);
  }
  .aboutus .technology {
    background-image: url("../img/footer-big-3.jpeg");
  }
  .contact {
    background-image: url("../img/purple-big-2.jpeg");
    height: 600px;
    overflow: hidden;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .contact__div {
    width: 100%;
    height: 300px;
    padding: 80px 0px;
  }
}
@media (min-width: 776px) {
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 36px;
    letter-spacing: 2px;
    text-shadow: 0px 4px 9px #040404;
  }
  header p {
    font-size: 28px;
    letter-spacing: 2px;
    text-shadow: 0px 4px 9px #040404;
  }
  .portfolio__desc {
    width: 45%;
  }
  .portfolio__card {
    width: 45%;
  }
}/*# sourceMappingURL=style.css.map */