@keyframes goArround {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 135px;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(126, 122, 122, 0.202);
}

h2 {
  text-transform: uppercase;
  text-shadow: 0px 0px 4px #c16bce;
}

nav {
  transition: bacground-color 0.4s;
  z-index: 5;
}
nav .fa-bars {
  padding: 10px;
  color: white;
}
nav .logo {
  width: 150px;
}
nav .navbar-nav .nav-link.active,
nav .nav-link:focus {
  color: #e088ff;
}
nav .navbar-nav .nav-link {
  position: relative;
  color: white;
  text-transform: uppercase;
  transition: color 0.3s;
  text-shadow: 0px 4px 9px #040404;
}
nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #e088ff;
  transform: scale(0);
  transition: transform 0.6s;
}
nav .navbar-nav .nav-link:hover {
  color: #e088ff;
}
nav .navbar-nav .nav-link:hover::after {
  transform: scale(1);
}
nav .navbar-brand {
  padding: 20px;
}

.nav-shadow {
  background-color: rgba(0, 0, 0, 0.8);
}

header {
  position: relative;
  height: 100vh;
  background-image: url("../img/heroDev-sm.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
header .span-green {
  color: #4ddd4a;
}
header .span-purple {
  color: #e088ff;
}
header h1 {
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  text-shadow: 0px 4px 9px #040404;
}
header h2 {
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 0px;
}
header p {
  color: #b8b8b8;
  font-size: 14px;
}
header a {
  text-decoration: none;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.aboutus .about-desc {
  color: #4b4a4a;
}
.aboutus i {
  font-size: 60px;
  margin: 26px 0px;
  color: #552866;
  text-shadow: 0px 2px 2px #040404;
}
.aboutus .technology {
  position: relative;
  background-image: url("../img/purple-sm.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}
.aboutus .technology .aboutus-tech {
  color: #b8b8b8;
}
.aboutus .technology .row {
  text-align: center;
}
.aboutus .technology .row i {
  margin: 10px 0px;
  color: white;
  text-shadow: 0px 4px 9px #040404;
  transition: transform 0.4s;
}
.aboutus .technology .row i:hover {
  transform: scale(1.2);
}
.aboutus .technology .row p {
  color: #b8b8b8;
  margin-bottom: 30px;
}
.aboutus .technology::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

@media (min-width: 992px) {
  header {
    background-image: url("../img/heroDev-big.jpeg");
    overflow: hidden;
  }
  header .circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -20%;
    bottom: 10%;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    border: 5px dotted #e088ff;
    opacity: 0.2;
    animation: goArround 60s 0s infinite linear forwards;
  }
  header .circle .fa-terminal {
    font-size: 470px;
    color: #e088ff;
  }
  .technology {
    background-image: url("../img/purple-big.jpeg");
  }
}
@media (min-width: 776px) {
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 36px;
    letter-spacing: 2px;
    text-shadow: 0px 4px 9px #040404;
  }
  header p {
    font-size: 28px;
    letter-spacing: 2px;
    text-shadow: 0px 4px 9px #040404;
  }
}/*# sourceMappingURL=style.css.map */