@keyframes goArround {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes headerAnim {
	0% {
		opacity: 0;
		transform: rotateX(90deg);
		filter: blur(3);
	}
	50% {
		opacity: 0.5;
		filter: blur(3);
		transform: rotateX(0deg);
	}
	100% {
		opacity: 1;
		filter: blur(0);
	}
}

@keyframes blink {
	0% {
		opacity: 0;
		transform: translateY(700px);
	}

	100% {
		opacity: 1;
	}
}
