@use './colors' as *;
@use './anim' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 135px;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
}

h2 {
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: px 1px 2px #939194;
}

h5 {
	font-weight: bold;
}

nav {
	.fa-bars {
		padding: 10px;
		color: $main-color;
	}
	.logo {
		width: 150px;
	}
	.navbar-nav .nav-link.active,
	.nav-link:focus {
		color: $purple-color;
	}
	.navbar-nav .nav-link {
		position: relative;
		color: $main-color;
		text-transform: uppercase;
		transition: color 0.3s;
		text-shadow: 0px 4px 9px #040404;
	}
	// .nav-link::after {
	// 	content: '';
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	height: 3px;
	// 	width: 100%;
	// 	background-color: $purple-color;
	// 	transform: scale(0);
	// 	transition: transform 0.6s;
	// }

	.navbar-nav .nav-link:hover {
		color: $purple-color;
	}

	.navbar-brand {
		padding: 20px;
	}
	transition: bacground-color 0.4s;
	z-index: 5;
}

.nav-shadow {
	background-color: rgba(0, 0, 0, 0.8);
}

header {
	position: relative;
	height: 100vh;
	background-image: url('../img/heroDev-sm.jpeg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;
	.span-green {
		color: $light-green;
	}
	.span-purple {
		color: $purple-color;
	}
	h1 {
		padding: 10px;
		font-size: 40px;
		font-weight: bold;
		color: $main-color;
		letter-spacing: 2px;
		text-shadow: 0px 4px 9px #040404;
		animation: headerAnim 2s 0s both;
	}
	h2 {
		text-transform: uppercase;
		font-size: 16px;
		padding: 10px 0px;
		animation: headerAnim 2s 0.5s both;
	}
	p {
		color: $txt-grey;
		font-size: 14px;
		animation: headerAnim 2s 1s both;
	}
	a {
		text-decoration: none;
	}
	.btn-outline-light {
		margin-top: 20px;
		animation: blink 3s forwards;
	}
}

header::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: -1;
}

.aboutus {
	.about-desc {
		line-height: 2em;
		color: $txt-grey-dark;
	}
	.aboutus-overview {
		line-height: 2em;
	}

	i {
		font-size: 60px;
		margin: 26px 0px;
		color: $txt-grey-dark;
		text-shadow: 0px 2px 2px #040404;
	}

	.about-title {
		color: $txt-blac;
	}

	.technology {
		position: relative;
		background-image: url('../img/footer-sm-2.jpeg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 1;
		.aboutus-tech {
			color: $txt-grey;
		}
		.row {
			text-align: center;
			i {
				// font-size: 60px;
				margin: 10px 0px;
				color: $main-color;
				text-shadow: 0px 4px 9px #040404;
				transition: transform 0.4s;
			}
			i:hover {
				transform: scale(1.2);
			}
			p {
				color: $txt-grey;
				margin-bottom: 30px;
			}
		}
	}
	.technology::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -1;
	}
}

// ============ PORTFOLIO

.portfolio {
	margin-bottom: 40px;
	z-index: 0;

	&__desc {
		position: relative;
		align-self: flex-start;
		width: 100%;
		line-height: 2em;
		&::after {
			position: absolute;
			content: '';
			top: -10px;
			left: -10px;
			width: 10%;
			height: 30%;
			background-color: rgba(94, 23, 217, 0.373);
			z-index: -2;
		}
	}

	&__card {
		position: relative;
		border-radius: 8px;
		// overflow: hidden;
		z-index: 0;
		width: 100%;
		height: 400px;
		background-image: url('../img/transport-sm.jpeg');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		&--two {
			background-image: url('../img/restaurant-sm.jpeg');
		}
		&--three {
			background-image: url('../img/free-sm.jpg');
		}
	}
}

.prices {
	.card {
		height: 550px;
		border-radius: 15px;
		transition: transform 0.4s;
		.card-body {
			position: relative;
			display: flex;
			flex-direction: column;
			.btn {
				position: absolute;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				border-radius: 0px;
				cursor: auto;
			}
		}
	}
	.card:hover {
		transform: scale(1.03);
	}

	.card-active {
		transform: scale(1.02);
		background-image: url('../img/purple-sm.jpeg');
		background-size: cover;
		color: $main-color;
		.btn {
			background-color: $txt-blac;
			color: $main-color;
			padding: 10px 0px;
		}
	}
}

.contact {
	position: relative;
	background-image: url('../img/purple-sm-2.jpeg');
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;
	color: $txt-grey;
	h5 {
		letter-spacing: 2px;
		margin-bottom: 40px;
	}
	i {
		padding: 10px;
		font-size: 20px;
		color: $main-color;
	}
	p {
		padding: 10px;
		letter-spacing: 2px;
	}
	.section-title {
		color: $main-color;
	}
	.footer {
		position: absolute;
		bottom: 0;
		font-size: 10px;
	}
}
.contact::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.contact__div {
	height: 60vh;
}

@media (min-width: 992px) {
	header {
		background-image: url('../img/heroDev-big.jpeg');
		.circle {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			right: -20%;
			bottom: 10%;
			width: 800px;
			height: 800px;
			border-radius: 50%;
			border: 5px dotted $purple-color;
			opacity: 0.2;
			animation: goArround 60s 0s infinite linear forwards;
			.fa-terminal {
				font-size: 470px;
				color: $purple-color;
			}
		}
		overflow: hidden;
	}
	nav {
		.nav-link::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 3px;
			width: 100%;
			background-color: $purple-color;
			transform: scale(0);
			transition: transform 0.6s;
		}
		.navbar-nav .nav-link:hover::after {
			transform: scale(1);
		}
	}
	.aboutus {
		.technology {
			background-image: url('../img/footer-big-3.jpeg');
		}
	}
	.contact {
		background-image: url('../img/purple-big-2.jpeg');
		height: 600px;
		overflow: hidden;
	}
	.section-title {
		margin-bottom: 30px;
	}

	.contact__div {
		width: 100%;
		height: 300px;
		padding: 80px 0px;
	}
}

@media (min-width: 776px) {
	header {
		h1 {
			font-size: 48px;
		}
		h2 {
			font-size: 36px;
			letter-spacing: 2px;
			text-shadow: 0px 4px 9px #040404;
		}
		p {
			font-size: 28px;
			letter-spacing: 2px;
			text-shadow: 0px 4px 9px #040404;
		}
	}
	.portfolio {
		&__desc {
			width: 45%;
		}

		&__card {
			width: 45%;
		}
	}
}
